
<body>
<br>
<h1>Welkom, Sanibonani, Molo, Dumela,  </h1>
<br>

<img src="../../assets/design-massive-residence1.jpg" alt="hotel View" width="800" height="500">
<img src="../../assets/109935852.jpg" alt="Pool View" width="800" height="500">
<p>Welcome to the most relaxing place. Where you are able to unwind from your busy life. We are located in KZN, Ballito where its rated a five star hotel in the Ballito area.
  We are a working distance from Ballito Junction Mall and the location is just 30 minutes from King Shaka International Airport.
</p>
<br>
<p>Buring your stay with us, do feel free to inform the staff members and reciption area about any changes you would like to make and remember to treat everyone with respect.
    Wander More!  Book now and enjoy up to 30% off Best Available Rate, up to 30% off all participating outlets (including alcohol and room service), and up to 30% off all participating spa facilities.  Valid 7 days a week from 1 May – 30 September 2018.
    I wish you a most wonderful stay with us, and look forward to welcoming you back 
</p>
<p>Luxury
  Our luxury hotel portfolio includes individual brands which offer guests unparalleled service and signature touches that define luxury travel. A glamour still makes it the perfect choice for a luxurious coastal getaway. 
  Our luxury hotel is perfectly situated to make the most of their location, service is intuitive where we anticipate our guests’ needs and great dining is part of the experience.
  
  Full Service
  Our full service brands include Southern Sun Hotels and Southern Sun Resorts, which offer products and services to meet the needs of global travellers, travelling for business or leisure. LadyM's Hotel is at the heart of our vision – great places where great experiences are created and wonderful memories are made. Our Southern Sun Hotels and Resorts are flexible and accommodating. We recognise the importance of our guests and provide them with a great welcome, really good food and warm inviting spaces.
  
  Select Service
  Select Service category offers self-sufficient travellers a good level of comfort, with great contemporary, urban hotels at great rates. These hotels offer multi-functional spaces to work or relax and a comfortable, welcoming environment to connect with people. As with all our hotels across the different categories, we consistently review, measure and enhance our offering to ensure that our guests experience the best possible products and services at the best possible rates. Our select service hotels include SunSquare, Garden Court and StayEasy. We offer warm, effective service, provide a great night’s sleep and breakfast in the morning to get our guests ready for the day ahead.


</p>

</body>
