<h3>Room Details</h3> 
<div>
  <marquee behavior="scroll" direction="left">
    <img src="../../assets/2ECF245100000578-3334070-image-m-27_1448486583616.jpg" width="500" height="400">
    <img src="../../assets/004-avalon-house-mccoubrey-overholser.jpg" width="500" height="400">
    <img src="../../assets/5a1d57088802490001d48926_2912.jpg" width="500" height="400">
    <img src="../../assets/Algarve_Holiday_Lets_Tavira_Apartment_3_Bedrooms_CAB-33_11.jpg" width="500" height="400">
    <img src="../../assets/92720837.jpg" width="500" height="400">
  </marquee>
</div>

<div class="flex-container">
 <div class="R1">
    <br>Twin Room R 1 286
    <br> Sleeps 2 people
    <br>1 bedroom with twin bed
    <br> 1 bathroom with Shower only
    <br>Square meterage: 32
 </div>
 <div class="R2">   
   <br>Standad Room  R 1 186
   <br>Sleeps 2 people
   <br>1 bedroom with extra-length queen bed  
   <br>1 bathroom with Shower only
   <br>Square meterage: 32
  </div>
  <div>
   <br>Family Room R 2 200
   <br> Sleeps 4 people
   <br> 1 bedrooms with twin beds and 1 queen bed
   <br> 1 bathrooms with En-Suite - Bath and Shower
   <br> Square meterage: 71
 </div>
 <div>
    <br>Presidential Suite R 3 500
    <br> Sleeps 6 people
    <br> 2 bedrooms with queen beds
    <br> 2 bathrooms with En-Suite - Bath and Shower
    <br> Square meterage: 85
 </div>

</div>
<br>
  
    <br> Room Features & Services
    <br> Includes Buffet Breakfast, Taxes, Free WiFi and access to Wayfarer Business Lounge.
    <br>Air conditioner, Hair dryer, Mini bar, Safe, Satellite TV, Tea/Coffee, Telephone, Universal adaptor socket (Voltage 220/240V), Writing desk, Fax, In room dining (24 hours), Internet, Laundry, Valet services, Complimentary access to Wayfarer Business Lounge, Wifi, Free Wifi.

    <div>
    <marquee behavior="scroll" direction="right">
    <img src="../../assets/13175992_30_z.jpg" width="500" height="400">
    <img src="../../assets/92721597.jpg" width="500" height="400">
    <img src="../../assets/92728147.jpg" width="500" height="400">
    <img src="../../assets/maxresdefault.jpg" width="500" height="400">
    <img src="../../assets/party-platters.jpg" width="500" height="400">
    <img src="../../assets/xbuffet0f.jpg.pagespeed.ic.4yp_N0F9Rm.jpg" width="500" height="400">
    </marquee>
    </div>